body
{
	background-image:url('bg.jpg');	
	margin:10px;
}

#nav
{
	list-style-type:none;
	background-color: #F6F4F0;
	height:60px;
	color:blue;
}
li
{
	Position:relative;
	top:10px;
	left:40px;
	font-size:20;
	margin-right:20px;
	display:inline;
}
#active
{
	background-color:#e7e7e7;
}
.imgslide
{
	width:800px;
	height:400px;
}
.img2
{
	height : 300px;
	width:800px;
}
a:link
{
	color:red;
}
a:visited
{
	color:red;
}
.head
{
	color:blue;
}
.navhead
{
	font-size:30px;
	Position:relative;
	left:330px;
}
#pageheading
{
	margin-top:30px;
	margin-right:40px;
	margin-left:40px;
}
.slide
{
	text-align:center
}
.imagediv
{
	margin-top:30px;
}
#image
{
	width:200px;
	height:200px;
	margin-right:30px;
}
.btn
{
	font-size:16px;
	color:red;
	background-color:pink;
}

.packagebtn
{
	position:relative;
	left:90px;
	top:-100px;
}

#pid
{	
	font-size:14px;
	font-family:Arial;
	text-align:justify;
}

.tourdata
{
	position:relative;
	left:80px;
	font-size: 16px;
}

.data
{
	position:absolute;
	left:200px;
	font-size: 16px;
}
.tourid
{
	margin-top:20px;
	margin-bottom:20px;
}
.text
{
	font-size:18px;
	color:red;
}
.packagelable
{
	Position:relative;
	left:150px;
	margin-top:30px;
	margin-bottom:30px;	
}
.packagedata
{
	font-size: 16px;
	margin-bottom:30px;
}
.packagetext
{
	position:absolute;
	left:100px;	
}
.packagetype
{
	position:absolute;
	left:200px;
}
.packagerate
{
	position:absolute;
	left:500px;
}

.packageid
{
	position:relative;
	left:280px;
	
}
.type
{
	position:relative;
	left:350px;	
}
.rate
{
	Position:relative;
	left:400px;
}

.packagenot
{
	position:absolute;
	left:600px;	
}

.selecteno
{
	position:relative;
	left:400px;
	
}